@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;700&family=PT+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "PT Sans", "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Custom Utilities */
.glass-panel {
  @apply bg-black/40 backdrop-blur-md border border-white/10 shadow-2xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-t from-blue-400 to-white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-2 border-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}